.leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* Add a border-radius and shadow to the left side of marker-info */

.marker-info {
    position: relative;
    display: block;
    flex-direction: column;
    height: 100%;
    width: 20%;
    background-color: bisque;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Add a shadow effect */
    transition: width 1s ease;
    /* Add a transition for smooth animation */
    overflow: hidden;
    /* Hide content that overflows when the width is reduced */
}


/* Modify the close button styles */

.close-button {
    cursor: pointer;
    color: red;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
    /* Adjust the margin for better spacing */
}


/* Add hover styles for close button */

.close-button:hover {
    text-decoration: underline;
}


/* Add styles for the marker-info content */

.marker-info-content {
    padding: 5px;
}


/* Add styles for the marker-info when it's closed */

.marker-info-closed {
    width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}